<div class="container mt-5">
  <div class="center-content">
  <%= link_to "Cancelar solicitação", order_path(@order), method: :delete, data: { confirm: 'Tem certeza que deseja cancelar essa solicitação?' }, class: "btn btn-ms" %>
  <h1 class="mt-4">Formulário de solicitação de base de dados</h1>
  <% if @order.category == "nIdentificado" %>
    <p><strong>Categoria do pedido: </strong>Dados não identificados</p>
  <% elsif @order.category == "identificado"%>
    <p><strong>Categoria do pedido: </strong>Dados identificados</p>
  <% else %>
    <p><strong>Categoria do pedido: </strong>Dados pessoais</p>
  <% end %>
  </div>
  <hr>
  <div class="row mt-2">
    <div class="col">

      <h5><strong>Nome da Base: </strong><%= @order.base.name if @order.items.count.positive? %></h5>
      <hr>
      <p><strong>Solicitante: </strong><%= @order.user.name  %></p>
      <p><strong>E-mail: </strong><%= @order.user.email  %></p>
      <p><strong>CPF: </strong><%= @order.user.cpf  %></p>
      <hr>
      <p><strong>Responsável pela base: </strong><%= "#{@order.base.user.name} - #{@order.base.technical_area}." %></p>
      <p><strong>E-mail: </strong><%= @order.base.user.email %></p>
      <hr>

      <%= content_for(:the_links) do %>
      Aceitar <%= link_to "Termo de responsabilidade e responsabilidade", terms_path(@order) %>
      <% end %>

      <%= simple_form_for @order do |f| %>
      <%= f.input :period, label: "Período solicitado: (considere que a periodicidade da base é #{@order.base.periodicity})", placeholder: 'Ex.: de 01/2018 a 12/2018 (se a base for mensal) ou 2016 a 2018 (se a base for anual) ou apenas 2017' %>
      <% if @order.category == "identificado" %>
      <%= f.input :justify, label: 'Justificativa do pedido (informar a finalidade do uso dos dados)', placeholder: 'Justificativa para a necessidade de acesso aos dados para a realização do estudo ou pesquisa e motivos que justifiquem a necessidade da informação identificada' %>
      <%= f.input :terms, label: content_for(:the_links)%>
      <% end %>
      <%= f.button :submit, "Salvar formulário do pedido", class: "btn btn-ms" %>
      <% end%>
      <br>
      <br>
      <h5><strong>Campos solicitados</strong></h5>

      </p>
      <% @order.items.each do |item| %>
        <p style="margin-left: 20px">
          <%= link_to delete_item_path(item), method: :delete, data: { confirm: 'Confirma a exclusão desse item?' } do %>
            <i class="fa fa-trash"></i>
          <% end %>
          <%=" ✔ #{item.variable.name}" %>

          </p>
      <% end %>
    </div>
  </div>
</div>

