<div class="container mt-5">
  <hr>
  <div class="row mt-2">
    <div class="col">
      <% @orders.sort.reverse.each do |order| %>
        <p>
          <strong>Pedido código </strong> <span Style="color:darkred">
            <% date_time = order.created_at + DateTime.now.strftime('%z').to_i/100 * 60 * 60 %>
            <%= "#{order.id} de #{date_time.strftime("%d/%m/%Y às %H:%M")}" %></span>
        </p>
        <h4>
          <strong>Nome da Base: </strong><%= order.base.name if order.items.count.positive? %></h4>
        <p <%= "class=#{order.status}" %>><strong>Situação: </strong><%= order.status %></p>
        <% if order.category == "nIdentificado" %>
        <p><strong>Categoria do pedido: </strong>Dados não identificados</p>
        <% elsif order.category == "identificado"%>
          <p><strong>Categoria do pedido: </strong>Dados identificados</p>
        <% else %>
           <p><strong>Categoria do pedido: </strong>Dados pessoais</p>
        <% end %>

          <% if order.aberta? %>
            <%= link_to 'Concluir', conclude_order_path(order),
               data: { confirm: 'Confirma a solicitação?' }, class: "btn btn-ms" %>
            <%= link_to 'Cancelar', cancel_order_path(order),
               data: { confirm: 'Confirma o cancelamento?' }, class: "btn btn-ms" %>
          <% end %>
          <%= link_to 'Mostrar Pedido', order_path(order), class: "btn btn-ms" %>
        <hr>
      <% end %>
    </div>
  </div>
</div>
