<h3>Pedidos de <%= current_user.name%></h3>
<div class="container mt-5">
  <div class="row mt-2">
    <div class="col">
      <% @orders.sort.each_with_index do |order, i| %>
        <p>
          <strong>Pedido nº </strong> <span Style="color:darkred"><%= i + 1 %></span>
          <% if order.aberta? %>
            <%= link_to 'Concluir', conclude_order_path(order),
               data: { confirm: 'Confirma a solicitação?' }, class: "btn btn-primary" %>
            <%= link_to 'Cancelar', cancel_order_path(order),
               data: { confirm: 'Confirma o cancelamento?' }, class: "btn btn-warning" %>
          <% end %>
        </p>
        <h4>
          <strong>Nome da Base: </strong><%= order.base.name %></h4>
        <p><strong>Situação: </strong><%= order.status %></p>
        <p><strong>Justificativa: </strong><%= order.justify %></p>
        <p><strong>Categoria do pedido: </strong><%= order.category  %></p>
        <% order.items.each do |item| %>
          <p style="margin-left: 20px">
            <%= link_to 'Excluir', order_path(item), method: :delete,
             data: { confirm: 'Confirma a exclusão desse item?' }, class: "btn btn-warning" %>
            <%=" ✔ #{item.variable.name}" %>

            </p>
        <% end %>
        <hr>
      <% end %>
    </div>
  </div>
</div>
