<h2>Pedidos de <%= current_user.name%></h2>
<ul>
  <
  <% @orders.each do |order| %>
    <li><%= order.inspect %></li>
    <li>Situação: <%= order.status %></li>
    <li>Justificativa: <%= order.justify %> </li>
    <li>Status: <%= order.category %> </li>
    <br>
  <% end %>
</ul>
