<div class="container mt-5">
  <div class="center-content">
    <h4>
      <strong>Pedido</strong> <span Style="color:darkred">
        <%= " nº #{@order.id} de #{@date_time.strftime('%d/%m/%Y às %H:%M')}" %></span>
    </h4>
      <p><strong>Situação: </strong><%= @order.status %></p>
    <p>
      <% if @order.aberta? %>
        <%= link_to 'Editar', edit_order_path(@order), class: "btn btn-dark" %>
        <%= link_to 'Concluir', conclude_order_path(@order),
           data: { confirm: 'Confirma a solicitação?' }, class: "btn btn-dark" %>
        <%= link_to 'Cancelar', cancel_order_path(@order),
           data: { confirm: 'Confirma o cancelamento?' }, class: "btn btn-dark" %>
      <% end %>
      <%= link_to 'Ir para Pedidos', orders_path, class: "btn btn-dark" %>
    </p>
  <h1>Formulário de solicitação de base de dados</h1>
  </div>
  <hr>
  <div class="row mt-2">
    <div class="col">
      <h5><strong>Nome da Base: </strong><%= @order.base.name if @order.items.count.positive? %></h5>
      <hr>
      <p><strong>Solicitante: </strong><%= @order.user.name  %></p>
      <p><strong>E-mail: </strong><%= @order.user.email  %></p>
      <p><strong>CPF: </strong><%= @order.user.cpf  %></p>
      <hr>
      <p><strong>Responsável pela base: </strong><%= "#{@order.base.user.name} - #{@order.base.technical_area}." %></p>
      <p><strong>E-mail: </strong><%= @order.base.user.email %></p>
      <hr>
      <% if @order.category == "nIdentificado" %>
        <p><strong>Categoria do pedido: </strong>Dados não identificados</p>
      <% elsif @order.category == "identificado"%>
        <p><strong>Categoria do pedido: </strong>Dados identificados</p>
      <% else %>
         <p><strong>Categoria do pedido: </strong>Dados pessoais</p>
      <% end %>

      <p><strong>Período da solicitação: </strong><%= @order.period  %></p>
      <p>
        <strong> <%= 'Justificativa: ' if @order.identificado? %> </strong>
        <%= @order.justify if @order.identificado? %>
      <h5><strong>Campos solicitados</strong></h5>
      </p>
      <% @order.items.each do |item| %>
        <p style="margin-left: 20px">
          <%=" ✔ #{item.variable.name}" %>
          </p>
      <% end %>
    </div>
  </div>
</div>
