<div class="banner" style="background-image: url('<%= image_path 'Banner.jpeg' %>')">
  <div class="banner-content">

    <h1>Meus Dados de Saúde</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
      <div class="text-center">
        <%= form_tag bases_path, :method => "get" do %>
          <%= text_field_tag :search, params[:search],
          placeholder: "O que você procura?", class: "search" %>
          <%= submit_tag("Buscar", :name => nil, class: "btn btn-ms") %>
        <% end %>


      </div>
  </div>
</div>

<div class="banner2">
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">

      <div class="tab-content" id="myTabContent">
        <div class="container tab-pane fade show active" id="cidadao" role="tabpanel" aria-labelledby="cidadao-tab">
          <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center text-danger">
              <h2>O que são dados de saúde?</h2>
              <p>São dados relativos ao seu estado de saúde,
              que revelem informações sobre a sua saúde física ou mental,
              no passado, presente ou futuro. O atendimento de qualidade requer boas 
              informações, por isso é muito importante que essas informações sejam registradas. 
              </p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center text-danger ">
              <h2>O que é tratamento de dados?</h2>
              <p>É toda operação realizada com dados pessoais de saúde,
              desde a coleta até a sua disponibilização, com propósitos
              legítimos, específicos, explícitos e informados ao titular de dados.
              </p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center text-danger ">
              <h2>Onde estão meus dados de saúde?</h2>
              <p>Dados encaminhados ao Ministério da Saúde
              estão armazenados em Bases Nacionais de Dados em Saúde.
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5 mb-5">
  <div class="row">
    <div class="card col-6 mb-3 mr-3 flip-card" style="max-width: 540px;">
      <div class="row no-gutters flip">
      <div class="front row">
        <%# <div class="col-md-4 p-0">
          <img src="https://www.sistemasulseguros.com.br/wp-content/uploads/seguro-interna%C3%A7%C3%A3o-hospitalar-prudential.jpg" class="card-img" alt="..."> %>
        <div class="col-md-4 p-0 center" style="background-image: url('<%= image_path 'Hospital.jpeg', class: "card-img center"  %>')">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Internação Hospitalar</h5>
            <p class="card-text">Sofri um acidente e fiquei hospitalizado por muitos dias. O que aconteceu enquanto estive internado?</p>
            <br>            
          </div>
        </div>
      </div>
      <div class="back row">
          <div class="card-body">
            <h5 class="card-title">Internação Hospitalar</h5>
            <p class="card-text">As informações sobre sua saúde são registradas quando você recebe cuidados de saúde. 
            Cada estabelecimento com a qual você tem contato mantém seus próprios registros sobre você. 
            Alguns dados foram enviados ao Ministério da Saúde.</p>
            <%= link_to "Conheça os dados nacionais de internação hospitalar", bases_path(search: "internação") %>
          </div>
      </div>
      </div>
    </div>

    <div class="card col-6 mb-3 ml-3 flip-card" style="max-width: 540px;">
      <div class="row no-gutters flip">
      <div class="front row">
        <%# <div class="col-md-4 p-0"> %>
        <div class="col-md-4 p-0 center" style="background-image: url('<%= image_path 'consulta.jpeg', class: "card-img center"  %>')">
          <%# <img src="https://www.sistemasulseguros.com.br/wp-content/uploads/seguro-interna%C3%A7%C3%A3o-hospitalar-prudential.jpg" class="card-img" alt="..."> %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Atendimento de Saúde</h5>
            <p class="card-text">No último ano tenho ficado muito doente. Quantas vezes fui atendida no posto de saúde?</p>
            <br>            
          </div>
        </div>
      </div>
      <div class="back row">
          <div class="card-body">
            <h5 class="card-title">Atendimento de saúde </h5>
            <p class="card-text">As informações sobre sua saúde são registradas quando você recebe cuidados de saúde. 
            Cada estabelecimento com a qual você tem contato mantém seus próprios registros sobre você. 
            Alguns dados foram enviados ao Ministério da Saúde.</p>
            <%= link_to "Conheça os dados nacionais de contatos assistenciais", bases_path(search: "cmd") %>
          </div>
      </div>
      </div>
    </div>

    <div class="card col-6 mb-3 mr-3 flip-card" style="max-width: 540px;">
      <div class="row no-gutters flip">
      <div class="front row">
        <%# <div class="col-md-4 p-0"> %>
          <div class="col-md-4 p-0 center" style="background-image: url('<%= image_path 'Vacina.jpeg', class: "card-img center"  %>')">
          <%# <img src="https://www.sistemasulseguros.com.br/wp-content/uploads/seguro-interna%C3%A7%C3%A3o-hospitalar-prudential.jpg" class="card-img" alt="..."> %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Vacinação</h5>
            <p class="card-text">Perdi minha carteira de vacinação, o que faço agora?</p>
            <br>            
          </div>
        </div>
      </div>
      <div class="back row">
          <div class="card-body">
            <h5 class="card-title">Vacinação</h5>
            <p class="card-text">As informações sobre sua saúde são registradas quando você recebe cuidados de saúde. 
            Cada estabelecimento com a qual você tem contato mantém seus próprios registros sobre você. 
            Alguns dados foram enviados ao Ministério da Saúde.</p>
            <%= link_to "Conheça os dados nacionais de imunização", bases_path(search: "vacina") %>
          </div>
      </div>
      </div>
    </div>

    <div class="card col-6 mb-3 ml-3 flip-card" style="max-width: 540px;">
      <div class="row no-gutters flip">
      <div class="front row">
        <div class="col-md-4 p-0 center" style="background-image: url('<%= image_path 'Vacina.jpeg', class: "card-img center"  %>')">
        <%# <div class="col-md-4 p-0">
          <img src="https://www.sistemasulseguros.com.br/wp-content/uploads/seguro-interna%C3%A7%C3%A3o-hospitalar-prudential.jpg" class="card-img" alt="..."> %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Novo coronavírus</h5>
            <p class="card-text">As informações sobre sua saúde são registradas quando você realiza exames. 
            Cada estabelecimento com a qual você tem contato mantém seus próprios registros sobre você. 
            Alguns dados foram enviados ao Ministério da Saúde.</p>
            <br>            
          </div>
        </div>
      </div>
      <div class="back row">
          <div class="card-body">
            <h5 class="card-title">Novo coronavírus</h5>
            <p class="card-text">Alguns dados coletados durante a sua internação hospitalar foram enviados ao Ministério da Saúde.</p>
            <%= link_to "Conheça os dados nacionais de internação hospitalar", bases_path(search: "internação") %>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>

    

