<div class="banner" style="background-image: url('<%= image_path 'Banner.jpeg' %>')">

  <div class="banner-content">
    <div class="text-center">
        <h1>Meus Dados de Saúde</h1>
        <%= form_tag bases_path, id: "autocomplete-form", :method => "get" do %>
          <%= select_tag :search, nil,
          placeholder: "O que você procura?", class: "select2_autocomplete" %>
          <%= submit_tag("Buscar", :name => nil, class: "btn btn-ms") %>
        <% end %>
    </div>
  </div>

</div>


<div class="banner2">

  <div class="container mt-5 mb-5 bg-white">
    <div class="row justify-content-center  ">

      <div class="tab-content" id="myTabContent">
        <div class="container tab-pane fade show active" id="cidadao" role="tabpanel" aria-labelledby="cidadao-tab">
          <div class="row mt-3 mb-3">

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
              <h2>O que são dados de saúde?</h2>
              <p>São dados relativos ao estado de saúde,
              que revelem informações sobre a saúde física ou mental,
              no passado, presente ou futuro. O atendimento de qualidade requer boas
              informações.
              </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
              <h2>Como são armazenados os dados?</h2>
              <p>Os dados coletados em estabelecimentos de saúde são encaminhados ao Ministério da Saúde e
              armazenados em Bases Nacionais de Dados em Saúde.
              </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
              <h2>O que é tratamento de dados?</h2>
              <p>É toda operação realizada com dados pessoais de saúde,
              desde a coleta até a sua disponibilização, com propósitos
              legítimos, específicos, explícitos e informados ao titular de dados.
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="container mt-5 mb-5">
  <div class="row">
    <div class="card col-6 mb-3 mr-3 flip-card" style="max-width: 540px;">
      <div class="row no-gutters flip">
      <div class="front row">
        <div class="col-md-4 p-0 center" style="background-image: url('<%= image_path 'card1.jpeg', class: "card-img center"  %>')">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Internação Hospitalar</h5>
            <p class="card-text">Sofri um acidente e fiquei hospitalizado por muitos dias. O que aconteceu enquanto estive internado?</p>
            <br>
          </div>
        </div>
      </div>
      <div class="back row">
          <div class="card-body">
            <h5 class="card-title">Internação Hospitalar</h5>
            <p class="card-text">Quando ficamos internado o hospital registra dados sobre nossa saúde.
            Cada estabelecimento mantém seus próprios registros.
            Alguns dados foram enviados ao Ministério da Saúde.</p>
            <%= link_to "Conheça os dados nacionais de internação hospitalar", bases_path(search: "internação") %>
          </div>
      </div>
      </div>
    </div>

    <div class="card col-6 mb-3 ml-3 flip-card" style="max-width: 540px;">
      <div class="row no-gutters flip">
      <div class="front row">
        <div class="col-md-4 p-0 center" style="background-image: url('<%= image_path 'card2.jpeg', class: "card-img center"  %>')">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Atendimento de Saúde</h5>
            <p class="card-text">No último ano tenho ficado muito doente e passei por consulta diversas vezes. Gostaria de saber quantas vezes fui atendida no centro de saúde?</p>
            <br>
          </div>
        </div>
      </div>
      <div class="back row">
          <div class="card-body">
            <h5 class="card-title">Atendimento de saúde </h5>
            <p class="card-text">Informações sobre sua saúde são registradas quando recebe cuidados de saúde.
            Cada estabelecimento de saúde mantém seus próprios registros.
            Alguns dados foram enviados ao Ministério da Saúde.</p>
            <%= link_to "Conheça os dados nacionais de contatos assistenciais", bases_path(search: "cmd") %>
          </div>
      </div>
      </div>
    </div>

    <div class="card col-6 mb-3 mr-3 flip-card" style="max-width: 540px;">
      <div class="row no-gutters flip">
      <div class="front row">
        <div class="col-md-4 p-0 center" style="background-image: url('<%= image_path 'card3.jpeg', class: "card-img center"  %>')">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Vacinação</h5>
            <p class="card-text">Gostaria de saber quais vacinas já tomei, mas perdi minha carteira de vacinação. Como consigo uma segunda via?</p>
            <br>
          </div>
        </div>
      </div>
      <div class="back row">
          <div class="card-body">
            <h5 class="card-title">Vacinação</h5>
            <p class="card-text">Quando você recebe uma vacina, alguns dados são coletados.
            Cada estabelecimento com a qual você tem contato mantém seus próprios registros.
            Alguns dados foram enviados ao Ministério da Saúde.</p>
            <%= link_to "Conheça os dados nacionais de imunização", bases_path(search: "vacina") %>
          </div>
      </div>
      </div>
    </div>

    <div class="card col-6 mb-3 ml-3 flip-card" style="max-width: 540px;">
      <div class="row no-gutters flip">
      <div class="front row">
        <div class="col-md-4 p-0 center" style="background-image: url('<%= image_path 'card4.jpeg', class: "card-img center"  %>')">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Novo coronavírus</h5>
            <p class="card-text">Testei positivo para o Covid. Meu resultado gerou uma notificação, ou foi
            contabilizado para o número de casos positivos da minha região?</p>
            <br>
          </div>
        </div>
      </div>
      <div class="back row">
          <div class="card-body">
            <h5 class="card-title">Novo coronavírus</h5>
            <p class="card-text">Alguns dados coletados durante a sua internação hospitalar foram enviados 
            ao Ministério da Saúde.</p>
            <%= link_to "Conheça os dados nacionais de notificações de COVID-19", bases_path(search: "coronavírus") %>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>



