<div class="banner" style="background-image: url('<%= image_path 'Banner.jpeg' %>')">
  <div class="banner-content">

    <h1>Meus Dados de Saúde</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
      <div class="text-center">
        <%= form_tag bases_path, id: "autocomplete-form", :method => "get" do %>
          <%= select_tag :search, nil,
          placeholder: "O que você procura?", class: "select2_autocomplete" %>
          <%= submit_tag("Buscar", :name => nil, class: "btn btn-primary btn-ms") %>
        <% end %>

      </div>
  </div>
</div>

<div class="banner2">
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">

      <div class="tab-content" id="myTabContent">
        <div class="container tab-pane fade show active" id="cidadao" role="tabpanel" aria-labelledby="cidadao-tab">
          <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center text-danger">
              <h2>O que são dados de saúde?</h2>
              <p>São dados relativos ao seu estado de saúde,
              que revelem informações sobre a sua saúde física ou mental,
              no passado, presente ou futuro.
              </p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center text-danger ">
              <h2>O que é tratamento de dados?</h2>
              <p>É toda operação realizada com dados pessoais de saúde,
              desde a coleta até a sua disponibilização, com propósitos
              legítimos, específicos, explícitos e informados ao titular de dados.
              </p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center text-danger ">
              <h2>Onde estão meus dados de saúde?</h2>
              <p>Dados encaminhados ao Ministério da Saúde
              estão armazenados em Bases Nacionais de Dados em Saúde.
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5 mb-5">
  <div class="row">
    <div class="card col-6 mb-3 mr-3 flip-card" style="max-width: 540px;">
      <div class="row no-gutters flip">
      <div class="front row">
        <div class="col-md-4 p-0">
          <img src="https://www.sistemasulseguros.com.br/wp-content/uploads/seguro-interna%C3%A7%C3%A3o-hospitalar-prudential.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Internação Hospitalar</h5>
            <p class="card-text">Sofri um acidente e fiquei hospilalizado por muitos dias. O que aconteceu enquanto estive internado?
            </p>
            <br>
          </div>
        </div>
      </div>
      <div class="back row">
          <div class="card-body">
            <h5 class="card-title">Internação Hospitalar 🏥</h5>
            <p class="card-text">Alguns dados coletados durante a sua internação hospitalar foram enviados ao Ministério da Saúde.</p>
            <%= link_to "Conheça os dados nacionais de internação hospitalar", bases_path(search: "internação") %>
          </div>
      </div>
      </div>
    </div>

    <div class="card col-6 mb-3 ml-3 flip-card" style="max-width: 540px;">
      <div class="row no-gutters flip">
      <div class="front row">
        <div class="col-md-4 p-0">
          <img src="https://www.sistemasulseguros.com.br/wp-content/uploads/seguro-interna%C3%A7%C3%A3o-hospitalar-prudential.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Internação Hospitalar</h5>
            <p class="card-text">Sofri um acidente e fiquei hospilalizado por muitos dias. O que aconteceu enquanto estive internado?
            </p>
            <br>
          </div>
        </div>
      </div>
      <div class="back row">
          <div class="card-body">
            <h5 class="card-title">Internação Hospitalar 🏥</h5>
            <p class="card-text">Alguns dados coletados durante a sua internação hospitalar foram enviados ao Ministério da Saúde.</p>
            <%= link_to "Conheça os dados nacionais de internação hospitalar", bases_path(search: "internação") %>
          </div>
      </div>
      </div>
    </div>

    <div class="card col-6 mb-3 mr-3 flip-card" style="max-width: 540px;">
      <div class="row no-gutters flip">
      <div class="front row">
        <div class="col-md-4 p-0">
          <img src="https://www.sistemasulseguros.com.br/wp-content/uploads/seguro-interna%C3%A7%C3%A3o-hospitalar-prudential.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Vacinação</h5>
            <p class="card-text">Perdi minha carteira de vacinação, o que faço agora?</p>
            <br>
          </div>
        </div>
      </div>
      <div class="back row">
          <div class="card-body">
            <h5 class="card-title">Vacinação</h5>
            <p class="card-text">Alguns dados coletados durante a sua internação hospitalar foram enviados ao Ministério da Saúde.</p>
            <%= link_to "Conheça os dados nacionais de internação hospitalar", bases_path(search: "internação") %>
          </div>
      </div>
      </div>
    </div>

    <div class="card col-6 mb-3 ml-3 flip-card" style="max-width: 540px;">
      <div class="row no-gutters flip">
      <div class="front row">
        <div class="col-md-4 p-0">
          <img src="https://www.sistemasulseguros.com.br/wp-content/uploads/seguro-interna%C3%A7%C3%A3o-hospitalar-prudential.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Internação Hospitalar</h5>
            <p class="card-text">Sofri um acidente e fiquei hospilalizado por muitos dias. O que aconteceu enquanto estive internado?
            </p>
            <br>
          </div>
        </div>
      </div>
      <div class="back row">
          <div class="card-body">
            <h5 class="card-title">Internação Hospitalar 🏥</h5>
            <p class="card-text">Alguns dados coletados durante a sua internação hospitalar foram enviados ao Ministério da Saúde.</p>
            <%= link_to "Conheça os dados nacionais de internação hospitalar", bases_path(search: "internação") %>
          </div>
      </div>
      </div>
    </div>

    <div class="card col-6 mb-3 mr-3 flip-card" style="max-width: 540px;">
      <div class="row no-gutters flip">
      <div class="front row">
        <div class="col-md-4 p-0">
          <img src="https://www.sistemasulseguros.com.br/wp-content/uploads/seguro-interna%C3%A7%C3%A3o-hospitalar-prudential.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Internação Hospitalar</h5>
            <p class="card-text">Sofri um acidente e fiquei hospilalizado por muitos dias. O que aconteceu enquanto estive internado?
            </p>
            <br>
          </div>
        </div>
      </div>
      <div class="back row">
          <div class="card-body">
            <h5 class="card-title">Internação Hospitalar 🏥</h5>
            <p class="card-text">Alguns dados coletados durante a sua internação hospitalar foram enviados ao Ministério da Saúde.</p>
            <%= link_to "Conheça os dados nacionais de internação hospitalar", bases_path(search: "internação") %>
          </div>
      </div>
      </div>
    </div>

    <div class="card col-6 mb-3 ml-3 flip-card" style="max-width: 540px;">
      <div class="row no-gutters flip">
      <div class="front row">
        <div class="col-md-4 p-0">
          <img src="https://www.sistemasulseguros.com.br/wp-content/uploads/seguro-interna%C3%A7%C3%A3o-hospitalar-prudential.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Internação Hospitalar</h5>
            <p class="card-text">Sofri um acidente e fiquei hospilalizado por muitos dias. O que aconteceu enquanto estive internado?
            </p>
            <br>
          </div>
        </div>
      </div>
      <div class="back row">
          <div class="card-body">
            <h5 class="card-title">Internação Hospitalar 🏥</h5>
            <p class="card-text">Alguns dados coletados durante a sua internação hospitalar foram enviados ao Ministério da Saúde.</p>
            <%= link_to "Conheça os dados nacionais de internação hospitalar", bases_path(search: "internação") %>
          </div>
      </div>
      </div>
    </div>




    <div class="card col-6 mb-3 mr-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://static.ricmais.com.br/uploads/2020/05/vacina-sarampo-curitiba-1.jpg" class="card-img mt-5" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Vacinação</h5>
            <p class="card-text">Perdi minha carteira de vacinação, o que faço agora?</p>
            <p class="card-text"><small class="text-muted">Obtenha dados de imunização</small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-6 mb-3 ml-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://folhadolitoral.com.br/wp-content/uploads/2020/07/4fag_aom_1594412395.jpg" class="card-img mt-5" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Novo coronavírus</h5>
            <p class="card-text">Fui num laboratório e fiz o exame para Covid. Meu resultado saiu positivo. Será que foi contabilizado?</p>
            <p class="card-text"><small class="text-muted"> Obtenha dados de resultados para o Coronavírus </small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

