<div class="container">

  <% if params[:search].present? %>
    <h1 class= "mt-5 text-center">Bases encontradas com o termo <strong><%= "#{params[:search]}" %></strong>:</h1>
    <% else %>
    <h1 class= "mt-5 text-center">Bases encontradas:</h1>
  <% end %>

    <div class="row">
      <% @bases.each do |base| %>
        <div class="col-sm-6">
          <div class="p-3">
            <div class="card mt-3 hoverable" style="width: 100%;">
          <%= link_to "", basis_path(base), class: 'card-link' %>
  <!--             <%= image_tag "CMD.png" %> -->
              <div class="card-body">
                <h5 class="card-title text-danger" > <strong> <%= base.name %></strong></h5>
                <p class="card-text"><%= base.description %></p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"> <strong class="text-danger"> Base legal para tratamento de dados: </strong><%= base.legal_base %></li>
                <li class="list-group-item "> <strong class="text-danger"> Área Técnica: </strong><%= base.technical_area %></li>
                <li class="list-group-item"> <strong  class="text-danger"> Gestor da base: </strong><%= base.user.name %></li>
              </ul>
              <div class="card-body">

                <%= link_to 'Conheça as informações desse banco', basis_path(base), class: "btn btn-primary btn-ms" %>

              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
