<div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div id="movies">
        <% @bases.each do |base| %>
          <h4><%= base.name %> <small>(<%= "#{base.description}" %>)</small> </h4>
        <% end %>
      </div>
    </div>
  </div>

<div class="container mt-5">

<div class="container">
  <div class="row">
    <% @bases.each do |base| %>
      <div class="col-sm-6">
        <div class="p-3">
          <div class="card" style="width: 100%;">
            <%# <img src=image_tag "CMD.png" class="card-img-top" alt="..."> %>
            <%= image_tag "CMD.png" %>
            <div class="card-body">
              <h5 class="card-title"><%= base.name %></h5>
              <p class="card-text"><%= base.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= base.legal_base %></li>
              <li class="list-group-item"><%= base.technical_area %></li>
              <li class="list-group-item"><%= base.user.name %></li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Conheça as variáveis desse banco</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


