
<div class="container">

  <h2 class="mt-5"><%= @base.name %></h2>
  <%= link_to 'Pedir essa base', basis_items_path(@base), method: :post, class: "btn btn-dark" %>
  <table class="table mt-3">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variável</th>
        <th scope="col">Descrição</th>
        <th scope="col">Categoria</th>
      </tr>
    </thead>
    <tbody>
      <% @base.variables.each do |variable| %>
        <tr <%= "class=#{variable.category}" %> >
          <th scope="row"><%= variable.name %></th>
          <td><%=  variable.description %></td>
          <td><%=  variable.category %></td>
        </tr>      
      <% end %>
    </tbody>
  </table>
</div>
