<div class="container">

  <h2 class="mt-5 text-center mb-3"><%= @base.name %></h2>

  <div class="row">

    <div class="col-sm-2">

    <%= link_to 'Voltar', :back, class: "btn btn-dark" %>
    </div>

    <div class="col-sm-8 periodicity">
      <h4>Periodicidade da base: <strong> <%= @base.periodicity %> </strong></h4>
    </div>

    <div class="col-sm-2">
      <% if current_user.manager == true && current_user.id == @base.user.id %>
        <%= link_to 'Editar', edit_basis_path(@base), class: "btn btn-dark" %>
        <%= link_to "Deletar", basis_path(@base), method: :delete, data: { confirm: 'Tem certeza que deseja excluir essa base?' }, class: "btn btn-dark" %>
      <% else %>
        <%= link_to 'Solicitar dados', create_order_path(@base,category: "pessoais"), id: "pedido", class: "btn btn-dark" %>
      <% end %>
    </div>
  </div>
</div>

<section id="tabs" class="project-tab">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <nav>
                      <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active" id="nav-pessoais-tab" data-toggle="tab" href="#nav-pessoais" role="tab" aria-controls="nav-pessoais" aria-selected="true" category="pessoais">Dados pessoais</a>
                          <a class="nav-item nav-link" id="nav-identificado-tab" data-toggle="tab" href="#nav-identificado" role="tab" aria-controls="nav-identificado" aria-selected="false" category="identificado">Dados gerais identificados</a>
                          <a class="nav-item nav-link" id="nav-nidentificado-tab" data-toggle="tab" href="#nav-nidentificado" role="tab" aria-controls="nav-nidentificado" aria-selected="false" category="nIdentificado">Dados gerais não identificados</a>
                      </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-pessoais" role="tabpanel" aria-labelledby="nav-pessoais-tab">
                          <table class="table" cellspacing="0">
                              <thead>
                                  <tr>
                                    <th scope="col">Variável</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Categoria</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <% @base.variables.each do |variable| %>
                                  <tr <%= "class=#{variable.category}" %> >
                                    <th scope="row"><%= variable.name %></th>
                                    <td><%=  variable.description %></td>
                                    <td><%=  variable.category %></td>
                                  </tr>
                                  <% end %>
                              </tbody>
                          </table>
                      </div>
                      <div class="tab-pane fade" id="nav-identificado" role="tabpanel" aria-labelledby="nav-identificado-tab">
                          <table class="table" cellspacing="0">
                              <thead>
                                  <tr>
                                    <th scope="col">Variável</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Categoria</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <% @base.variables.each do |variable| %>
                                  <tr <%= "class=#{variable.category}" %> >
                                    <th scope="row"><%= variable.name %></th>
                                    <td><%=  variable.description %></td>
                                    <td><%=  variable.category %></td>
                                  </tr>
                                  <% end %>
                              </tbody>
                          </table>
                      </div>
                      <div class="tab-pane fade" id="nav-nidentificado" role="tabpanel" aria-labelledby="nav-nidentificado-tab">
                          <table class="table" cellspacing="0">
                              <thead>
                                <tr>
                                  <th scope="col">Variável</th>
                                  <th scope="col">Descrição</th>
                                  <th scope="col">Categoria</th>
                                </tr>
                              </thead>
                              <tbody>
                                  <% @base.variables.each do |variable| %>
                                  <% if variable.category == "não cadastral" %>
                                  <tr <%= "class=#{variable.category}" %> >
                                    <th scope="row"><%= variable.name %></th>
                                    <td><%=  variable.description %></td>
                                    <td><%=  variable.category %></td>
                                  </tr>
                                  <% end %>
                                  <% end %>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</section>
<script>
  let pessoais = document.getElementById("nav-pessoais-tab");
  let identificado = document.getElementById("nav-identificado-tab");
  let nIdentificado = document.getElementById("nav-nidentificado-tab");
  let criarPedido = document.getElementById("pedido");
  let url = criarPedido.href.split("?")[0];

  pessoais.addEventListener("click", (e) => {
    if (pessoais.ariaSelected) {
      url += "?category=pessoais";
      criarPedido.href = url;
      url = url.split("?")[0];
    }
  })
  identificado.addEventListener("click", (e) => {
    if (identificado.ariaSelected) {
      url += "?category=identificado";
      criarPedido.href = url;
      url = url.split("?")[0];
    }
  })
  nIdentificado.addEventListener("click", (e) => {
    if (nIdentificado.ariaSelected) {
      url += "?category=nIdentificado";
      criarPedido.href = url;
      url = url.split("?")[0];
    }
  })
</script>
